.content{
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
}
.container{
  max-width: 1230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}