@font-face {
  font-family: 'proxima-regular';
  src: url(assets/fonts/ProximaNova-Regular.woff) format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'proxima-bold';
  src: url(assets/fonts/ProximaNova-Bold.woff) format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'proxima-extraBold';
  src: url(assets/fonts/ProximaNova-Extrabld.woff) format('woff');
  font-weight: normal;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.body{
  background: #FFDF8C;
  padding: 43px   ;
}
@media (max-width:400px) {
  .body{
    padding: 10px;
  }
}